# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyD05y2c6YbVrp2R6_KYvMV5dWZERO5hRok
VITE_FIREBASE_AUTH_DOMAIN=online-food-order-5596f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=online-food-order-5596f
VITE_FIREBASE_STORAGE_BUCKET=online-food-order-5596f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=22146000005
VITE_FIREBASE_APP_ID=1:22146000005:web:60002290cc17b01160f5ec
